.tituloAlteraSenha{
  width: 100%;
  background: rgb(244, 244, 144);
  color: black;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.2rem;
}
.containerFormAlteraSenha{
  width: 100%;
  height: auto;
  padding: 1rem;
}
.form{
  width: 100%;
  >section {
    font-size: 1.1rem;
    &:last-child {
      display: flex;
    }
  }
  input {
    font-size: 1.3rem;
  }
}
.containerInput {
  width: 100%;
  p {
    &:nth-child(2) {
     padding-top: 1rem;
    }
  }
}
.bt_cancelar{
  width: 80%;
  margin-top: 1rem;
  font-size: 1.1rem;
}
.bt_alterar{
  width: 80%;
  height: 3rem;
  margin-top: 1rem;
  margin-left: 15%;
  font-size: 1.1rem;
}